* {
  margin: 0;
  padding: 0;
}

.navbar {
  /* display: flex; */
}
.upper-nav {
  /* width: 50%; */
  display: flex;
  background-color: aqua;
  justify-content: space-between;
}
.logo {
  display: flex;
  /* width: 20%; */
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  /* width: 50%; */
  background-color: yellow;
}

.nav-list li {
}

.nav-list li a {
}
