* {
  margin: 0;
  padding: 0;
  background-color: #f3f2ed;
  background: transparent;
}

.navbar {
  /* display: flex; */
  height: fit-content;
  background-color: #f3f2ed;
  padding: 8px;

  /* ma */
}

.upper-nav {
  display: flex;
}
.logo {
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-left: 2%;
}
.logo .re {
  color: #c3c2bc;
}
.logo .Reads {
  color: #7c7b76;
}
.search {
  width: 40%;
  height: 20px;
  border: 1px solid #c3c2bc;
  padding: 1px 8px;
  margin: 2px 8px;
  border-radius: 30px;
  margin-left: auto;
}
.search-icon {
  color: #c3c2bc;
  font-size: 20px;
  /* justify-content: center; */
  text-align: center;
}
.search input {
  border: 0px;
  outline: 0px;
  width: 92%;
  text-align: center;
}
.profile-icon {
  color: #7c7b76;
}
@media screen and (max-width: 450px) {
  .navbar .upper-nav,
  .lower-nav .nav-list {
    flex-direction: column;
  }
}
.nav-list {
  display: flex;
  background-color: #ededea;

  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
}

.nav-list li {
  background: transparent;
  list-style: none;
  padding: 0px 40px;
  /* justify-content: space-between; */
}

.nav-list li a {
  text-decoration: none;
  color: #7c7b76;
}

.booklist {
  background-color: #dcdcdc;
  display: flex;

  text-align: center;

  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 10px;
}
.singlebook {
  background-color: #dcdcdc;
  text-align: center;

  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.singlebook > img {
  flex-shrink: 0;
  width: 130px; /* Set your desired fixed width */
  height: auto;
}

.singlebook .bookname {
  color: #42423e;
  font-weight: bold;
}
.singlebook .bookprice {
  color: #0e0e0e;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.singlebook .location {
  color: #8b8b8a;
}
