body {
  margin: 1rem;
  padding: 1rem;
  margin-top: 5rem;
  position: relative;
}
.logo {
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.logo .re {
  color: #c3c2bc;
}
.logo .Reads {
  color: #7c7b76;
}
#mainAll {
  text-align: center;
  height: fit-content;
  width: 50%;
  border: solid 1px rebeccapurple;
  padding: 20px;
  position: absolute;
  margin-left: 25%;
  background-color: #f2f3ec;
}
#Cpassword,
#password,
#name,
#Address,
#PhoneNumber,
#email,
#signup {
  width: 250px;
  height: 40px;
  border: solid 2px black;
  border-radius: 7px;
  background-color: #fbf7ef;
  padding-left: 8px;
  font-family: "Lucida Console";
}

#signup {
  width: 265px;
  background-color: #c6b5f3;
  color: black;
}
a {
  text-decoration: none;
}
.right img {
  float: right;
  padding: 5vh;
  height: 50vh;
  width: 35vh;
}
.left {
  float: left;
  margin-left: 11%;
}
