body {
  position: relative;
  margin-top: 30%;
}

.logo {
  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 28px;
}
.logo .re {
  color: #c3c2bc;
}
.logo .Reads {
  color: #7c7b76;
}
#mainAll {
  position: absolute;
  text-align: center;
  height: fit-content;
  width: 50%;
  border: solid 1px rebeccapurple;
  padding: 20px;
  margin-left: 25%;
  background-color: #f2f3ec;
}

#email,
#code {
  width: 50%;
  height: 45px;
  border: solid 2px black;
  border-radius: 7px;
  background-color: #fbf7ef;
  padding-left: 8px;
  font-family: "Lucida Console";
}
#code {
  background-color: #c6b5f3;
  width: 55%;

  color: black;
}

a {
  text-decoration: none;
}
