body {
  position: relative;
}

.logo {
  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 28px;
}
.logo .re {
  color: #c3c2bc;
}
.logo .Reads {
  color: #7c7b76;
}
#mainAll {
  position: absolute;
  text-align: center;
  height: fit-content;
  width: 50%;
  border: solid 1px rebeccapurple;
  padding: 20px;
  margin-left: 25%;
  background-color: #f2f3ec;
}
#password,
#email,
#log {
  width: 45%;
  height: 45px;
  border: solid 2px black;
  border-radius: 7px;
  background-color: #fbf7ef;
  padding-left: 8px;
  font-family: "Lucida Console";
}
#log {
  background-color: #c6b5f3;
  width: 45%;

  color: black;
}

a {
  text-decoration: none;
}
.right img {
  float: right;
  padding: 2vh;
  height: 20%;
  width: 20%;
}
.left {
  float: left;
  margin-left: 11%;
}

.arrow {
  position: absolute;

  vertical-align: middle;
  z-index: 3;
  background-color: transparent;
  color: rgb(180, 170, 170);
}
.arrow-left {
  left: 600;
}
.arrow-right {
  right: 200;
}
.arrow:hover {
  transform: scale(1.5);
}
