.header_user {
  /* position: absolute; */
  max-height: 500px;
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 5% 25%;
  height: fit-content;
  width: 50%;
  border: #333;
  background-color: white;
  align-items: center;
}

.users-title {
  margin: 0;
  width: 100%;
  font-size: 24px;
  padding: 15px 20px;
  background-color: #0078d4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Arial", sans-serif;
  color: white;
}
.navbar {
  display: flex;
  /* height: fit-content; */
  background-color: #f3f2ed;
  padding: 8px;
  position: relative;

  /* ma */
}

.upper-nav {
  display: flex;
  position: relative;
}

ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}

ul li:last-child {
  border-bottom: none;
}

/* user image */
ul li img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #0078d4;
}

/* delete button */
.delete-button {
  background-color: #ff4d4d;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-right: 100%;
  padding: 8px 16px;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #e47c7c;
  color: white;
  text-decoration: none;
}

.user-details {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.book-details {
  padding-left: 100px;
  font-size: 20px;
}
.user-image {
  width: 170px;
  display: flex;
  flex-direction: column;
}

.user-detail {
  display: flex;
  font-weight: bold;
  color: #070e17;
  font-size: 16px;
}

.user-name {
  font-weight: bold;
  color: #1877f2;
  font-size: 12px;
}
#bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body,
html {
  height: 100%;
}
a {
  text-decoration: none;
  font-weight: 500;
}

/* Initially hide book details */
.book-details-container {
  display: none;
}

/* Show book details when hovering over user link */
.user-link:hover + .book-details-container {
  display: block;
}
.book-details-container {
  margin-left: 100px;
  background-color: rgb(218, 236, 175);
}
