body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Profile Section */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.profile-image {
  margin-bottom: 20px;
  position: relative;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.edit-icon {
  position: absolute;
  bottom: -10px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #4caf50;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.profile-details {
  text-align: center;
  margin-top: 20px;
}

.profile-details h2 {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.profile-details span {
  color: #777;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.edit-form-container {
  display: none;
  margin-top: 40px;
}

.edit-form {
  text-align: center;
}

.edit-form label,
.edit-form input,
.edit-form textarea {
  display: block;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.edit-form textarea {
  height: 80px;
}

.edit-form button {
  margin-top: 10px;
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.edit-form button:hover {
  background-color: #45a049;
}

.edit-form button[type="button"] {
  background-color: #bbb;
  margin-right: 10px;
}

.edit-form button[type="button"]:hover {
  background-color: #999;
}

#edit-button {
  margin-top: 10px;
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#edit-button:hover {
  background-color: #d32f2f;
}

#upload-book-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
#upload-book-button:hover {
  background-color: #d32f2f;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  width: 80%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 70vh; /* Set the maximum height for scrolling */
}

.popup-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.popup-content form {
  display: grid;
  gap: 10px;
}

.popup-content input[type="text"],
.popup-content input[type="number"],
.popup-content input[type="email"],
.popup-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.popup-content button[type="submit"],
.popup-content button[type="button"] {
  width: 40%;
  margin-right: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.popup-content button[type="submit"]:hover,
.popup-content button[type="button"]:hover {
  background-color: #45a049;
}

.popup-content input[type="radio"] {
  display: none;
}

.popup-content label {
  display: inline-block;
  background-color: #ddd;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.popup-content input[type="radio"]:checked + label {
  background-color: #4caf50;
  color: #fff;
}

.popup-content .price-fields {
  display: none;
}

.popup-content input[type="radio"]:checked ~ .price-fields {
  display: block;
}

@media (max-width: 768px) {
  .popup-content {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .popup-content {
    width: 95%;
  }
}
