/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color:aliceblue;
  margin: 0;
  padding: 0;
}

.container {
  display:flex;
  flex-direction: column;
  align-items:first baseline;
  justify-content:right;
  height: 100vh;


/* Profile Section */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.profile-image {
  margin-right: 20px;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-details {
  text-align: center;
}

.profile-details h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.profile-details p {
  color: #888;
  margin: 0;
  margin-bottom: 10px;
}

.profile-details .id {
  font-weight: bold;
}

.profile-actions {
  margin-top: 20px;
}

.profile-actions .edit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  text-decoration:underline;
  margin-right: 10px;
}

.profile-actions .edit-button:hover {
  color: #45A049;
}

.profile-actions a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #45A049;
  color:white;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  text-decoration:underline;
  transition: color 0.3s ease;
  margin-right: 10px;

}

.profile-actions a:hover {
  color: #45A049;
}

/* Favorite Book Section */
.favorite-book {
  text-align:left;
  margin-bottom: 30px;
}

.favorite-book img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Upload Book Section */
.upload-book {
  text-align:left;
}

.upload-book input[type="file"] {
  display:none;
}

.upload-book label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #45A049;
  color:white;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  text-decoration:underline;
  transition: color 0.3s ease;
  margin-right: 10px;
}
.upload-book label:hover {
  color: #45A049;
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }
  
  .profile-image {
    margin-bottom: 20px;
  }
  
  .profile-actions {
    margin-top: 10px;
  }
}
