/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Profile Section */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.profile-image {
  margin-bottom: 20px;
  position: relative;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.edit-icon {
  position: absolute;
  bottom: -10px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #4CAF50;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.profile-details {
  text-align: center;
  margin-top: 20px;
}

.profile-details h2 {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.profile-details p {
  color: #777;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.edit-form-container {
  display: none;
  margin-top: 40px;
}

.edit-form {
  text-align: center;
}

.edit-form label,
.edit-form input,
.edit-form textarea {
  display: block;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.edit-form textarea {
  height: 80px;
}

.edit-form button {
  margin-top: 10px;
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.edit-form button:hover {
  background-color: #45a049;
}

.edit-form button[type="button"] {
  background-color: #bbb;
  margin-right: 10px;
}

.edit-form button[type="button"]:hover {
  background-color: #999;
}

#edit-button {
  margin-top: 10px;
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  background-color:blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#edit-button:hover {
  background-color: #d32f2f;
}

#upload-book-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
#upload-book-button:hover {
  background-color: #d32f2f;
}
