* {
  margin: 0;
  padding: 0;

  background: transparent;
}
body {
  background-color: #f3f2ed;
}

.navbar {
  /* display: flex; */
  /* height: fit-content; */
  background-color: #f3f2ed;
  padding: 8px;
  position: relative;

  /* ma */
}

.upper-nav {
  display: flex;
  position: relative;
}
.logo {
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-left: 2%;
}
.logo .re {
  color: #c3c2bc;
}
.logo .Reads {
  color: #7c7b76;
}
.logo-profile {
  font-size: 40px;
}

.search {
  display: flex;
  width: 40%;
  height: 20px;
  margin: 2px 8px;
  padding: 1px 8px;
  border: 1px solid #c3c2bc;
  border-radius: 30px;
  margin-left: auto;
  position: relative; /* Add position: relative to the search container */
}

.search-icon {
  color: #c3c2bc;
  font-size: 20px;
  position: absolute; /* Add position: absolute to the search icon */
  right: 10px; /* Adjust the right value to control the distance from the right edge */
  top: 50%; /* Vertically center the icon */
  transform: translateY(-50%); /*Center the icon vertically*/
}

.search input {
  border: 0px;
  outline: 0px;
  width: 100%; /* Adjust width to 100% to fill the container */
  text-align: center;
}

/*notification*/

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background: #cccccc;
}

.icon-button__badge {
  font-size: 10px;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 15px;
  height: 15px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.profile {
  position: relative;
}
.userpic {
  width: 25px; /* Adjust the width and height as needed */
  height: 25px;
  border-radius: 50%; /* Makes it circular */
  overflow: hidden; /* Hides overflow content outside the circle */
  border: 2px solid #b0aeae;
  cursor: pointer;
  margin: 0px 20px;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 3%;
  width: 220px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  z-index: 9999;
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}
.sub-menu {
  background: #ececeb;
  padding: 10px;
  margin: 5px;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info h3 {
  font-size: large;
  color: #7c7b76;

  font-weight: 500;
}
.user-info img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}
.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #7c7b76;

  margin: 12px 0;
}
.sub-menu-link p {
  width: 100%;
}
.sub-menu-link span {
  font-size: 16px;
  transition: trasform 0.5s;
}
.sub-menu-link:hover span {
  transform: translateX(5px);
}
.sub-menu-link:hover p {
  font-weight: 600;
}
.profile-icon {
  color: #7c7b76;
}

@media screen and (max-width: 450px) {
  .lower-nav .nav-list {
    flex-direction: column;
    height: fit-content;
  }
}
.nav-list {
  display: flex;
  background-color: #ededea;

  justify-content: space-evenly;
  align-items: center;
  height: 6vh;
  /* position: relative; */
}

.nav-list li {
  background: transparent;
  list-style: none;
  padding: 0px 40px;
  /* justify-content: space-between; */
}
.lower-nav {
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
}
/* CSS for increasing size on hover */
.lower-nav.nav-list li a {
  text-decoration: none;
  display: inline-block; /* Needed for the transform to work */
  color: #7c7b76;
  transition: transform 0.2s ease; /* Add a smooth transition effect */
}

.lower-nav.nav-list li a:hover {
  transform: scale(1.1);
  color: #0e0e0e; /* Increase the size on hover */
}

.booklist {
  background-color: #f5f5f5;
  display: flex;

  text-align: center;

  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 10px;
}
.book-container {
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap to the next line if there's not enough space */
  justify-content: space-between; /* Distribute space evenly between book elements */
  gap: 20px;
}
.singlebook {
  width: fit-content;
  background-color: #f5f5f5;

  text-align: center;
  /* width: 200px;
  height: 300px; */
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.singlebook:hover {
  /* Add an elevation effect when hovering over .singlebook */

  transform: scale(1.05); /* Scale the element to 105% of its original size */
  transition: transform 0.3s ease; /* Add a smooth transition effect */

  /* border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease;  */
}

.book_img {
  flex-shrink: 0;

  /* max-height: 200px;
  min-height: 200px; */
  height: 400px;
  width: 350px;
  /* height: auto; */
  box-shadow: #42423e 2px;
}
/* .book-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
} */
.a img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.singlebook .bookname {
  color: #42423e;
  font-weight: bold;
}
.singlebook .bookprice {
  color: #0e0e0e;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.singlebook .location {
  color: #8b8b8a;
}
.free {
  margin-left: 40px;
  color: #7c7b76;
}

.delete_button {
  background-color: red;
}
